<!DOCTYPE html>
<html>
<title>SCIENCE IQ HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a ng-click="contact()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>
    <a ng-click="register()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
    <a ng-click="goToLogin()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">SCIENCE IQ</h1>
  <p class="w3-xlarge">Science Quiz for all ages</p>
  <button ng-click="goToLogin()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"> Get Started</a></button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>ABOUT SCIENCE IQ</h1>
      <h5 class="w3-padding-32">What is ScienceiQ? </h5>

      <p class="w3-text-grey">An online, team based science resource for teachers and tutors to add to their arsenal of science learning and teaching resources<br>
The scienceiQ quizzes test student knowledge, skills and understandings in most areas of Science, such as Physics, Chemistry & Mathematics<br>
The ScienceiQ quiz encourages students to bond and work together as a team while having fun learning science. 
Try our free online quizzes and see how ScienceiQ will benefit you and your students. </p>
    </div>

<div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>
    

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>What are the competition subject areas?</h1>
      <p class="w3-text-grey">Competitions contain Science in Action and Human Endeavour questions with real world context. The questions will include scientific inquiry skills and cover the areas of science understanding in the Biological, Chemical and Physical sciences, and the Earth and Space sciences.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Change is the end result of all true learning</h1>
</div>

</body>
</html>
